@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';


html, body {
  height: 100%;
  margin: 0;
  padding:0;
}

div.prima-content{
  margin-left:20px;
  margin-right:10px;
}

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

.menu-item-selected{
  color: mat-color($accent); 
}

.menu-item-normal{
 color: white; 
}

text.line-chart{
  fill: mat-color($primary, 400);
  font-size: 8px;
}