text.ylabel{
    text-anchor: end;
    alignment-baseline: middle;
    stroke: black;
    font-size: 6px;
    font-family: 'Helvetica';
    vector-effect: non-scaling-stroke;
}

text.xlabel{
    text-anchor: middle;
    stroke: black;
    font-size: 6px;
    font-family: 'Helvetica';
    vector-effect: non-scaling-stroke;
}

text.bg-text{
    text-anchor: middle;
    alignment-baseline: middle;
    stroke: lightblue;
    font-size: 54px;
    fill: azure;
    font-family: 'Helvetica', monospace;
    font-weight: bold;
}

